/* This file is for your main application css. */

@import "./bootstrap.min.css";


/* Space out content a bit */
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
.logo {
  background-image: url("/images/phoenix.png");
  background-size: 519px 71px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 71px;
  width: 100%;
  margin-bottom: 1em;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 30px;
  }
}

/* Chat app */
#device-list {
  min-height: 190px;
}

#device-list .browser {
  display: block;
  right: 0;
  text-align: right;
  width: 100%;
}
#device-list .browser,
#device-list .device {
  margin: 30px 0px;
}

#device-list .browser span,
#device-list .device span {
  padding: 13px 33px;
  border-radius: 35px;
  background: #f3f3f4;
}

#msg-container {
  height: 40vh;
  overflow: scroll;
}
